<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center p-5">
            <h2>This is home section</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam deserunt rem a quo reprehenderit nemo sapiente, ad labore facilis unde possimus quisquam. Recusandae, nulla eius.</p>
            <a th:href="@{/signup}" class="btn bg-primary btn-lg text-white">Get Srarted</a>
        </div>
   </section> 
</body>
</html>